@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 10px;
}

.header,
.hero {
    background-color: #1f2937;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    width: 100px;
}

.header__list {
    display: flex;
    gap: 30px;
}

.hero {
    padding: 100px 0;
}

.hero__body {
    display: flex;
    gap: 55px;
}

.hero__title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 30px;
}

.hero__text {
    color: #e5e7eb;
}

.hero__img img {
    width: 520px;
    height: 240px;
    object-fit: cover;
}